body{
    background-image: url('Base1.png');
    background-size: cover;
    background-repeat: no-repeat;
  
  }
  *{
    margin: 0;
    padding: 0;
  }
  .block{
    width: 85vw;
    height: 90vh;
    border: 1px solid whitesmoke;
    border-radius: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%,-50%);
    padding: 10px;
    background-color:#1b1b1b;
    background-image:url('home-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 1.8vw;
    font-family: Montserrat;
  }
  
  .start-img{
    width: 18vw;
    height: 13vh;
  }
  .start-button{
    background: none;
    border:none;
    position: relative;
    top:59vh;
    left:33vw;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .img-parent{
    width: 40vw;
    height: 40vh;
  }
  
  #start-button:hover{
    transform: scale(2.2);
  }