label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 5px;
}

/* Style for the textbox */
/*input[type="text"] {
  width: 200px;
  padding: 5px;
}*/
.block{
  width: 85vw;
  height: 90vh;
  border: 1px solid whitesmoke;
  border-radius: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%,-50%);
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color:white;
  /*opacity: 0.7;*/
  box-shadow: -10px -10px 10px;
  background-image:url('pyramid.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*#text-box{
  border-radius: 5px;
  background-color: #44220f;
  opacity:0.8;
  color: whitesmoke;
  margin-right: 1vw;
  height: 5vh;
}*/
#parent{
  width:30vw;
  height: 15vh;
  padding: 3%;
  margin-bottom: 10%;
  margin-top: 5%;
  position: relative;
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0,0.1);*/
  }
  
  .headin{
    width:20vw;
    height: 20vh;
  }
  #parent input{
    width:18vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#text-box{
  border-radius: 10px;
  background-color: #44220f;
  opacity: 0.7;
  color: blanchedalmond;
}
/*input{
  font-size:1.4vw;
  border-radius: 5px;
  border-bottom: 2px solid rgb(192, 192, 192);
  background-color: #44220f;
  caret-color: rgb(192, 192, 192);
  color:white;
}*/
h2,h3, h4, label,h5{
  color: #44220f;
  font-size: 0.9vw;
  font-family: 'Martian Mono', monospace;
}
h4{
  font-family: 'Martian Mono', monospace;
}
label{
  border: 2px solid black;
  color:whitesmoke;
  background-color:#44220f;
  margin: 0.5vw;
  padding: 0.5vw;
  font-size: 1.5vw;
}
::placeholder{
  color: whitesmoke;
}
.Check{
  padding: 0.5vw;
  border: 1px solid black;
  font-size:1.2vw;
  background-color: #89cc16;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 2vh;
  }

.submit{
    border:1px solid black;
    padding: 0.5vw;
    font-size:1.2vw;
    background-color: #89cc16;
    border-radius: 5px;
    font-weight: bold;
}
#parent .attempt{
  width:50vw;
  height: 5vh;
  margin-top: 7vh;
}

.retry{
  width: 10vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#openScalingDiv1 {
  position: absolute;
  top: 2%;
  left: 2%;
  background-color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.3vw;
  font-weight: bold;
  opacity: 0.8;
  z-index: 1; /* Ensure it's above other content */
}

/* Style for the scaling div */
.scaling-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the div horizontally and vertically */
  width: 85vw; /* Match the width of .block */
  height: 90vh; /* Match the height of .block */
  background-color: black;
  display: none;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 13px;
  z-index: 2;
}


/* Style for the close button inside the scaling div */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  opacity: 0.7;
  border-radius: 13;
  padding: 5px 10px;
  cursor: pointer;
}

/* Update the size of the scaling div content */
.scaling-div p {
  font-size: 1.5vw; /* Adjust the font size as needed */
  color: whitesmoke;
}