{% extends "Base.html" %}

{% block Head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='images/Puz1.css') }}">

{% endblock %}
{% block title %}CaveManEra{% endblock %}

{% block content %}
<div class="block">
<h3><u>The Stone Age : WORDLE</u></h3>


    <!-- Grid container for labels -->
    <div class="label-grid"> 
      {% for guess in Guesses %}
            {% for letter in guess %}
                {% if letter.1 == '*' %}
                <div class="label-box-green" >{{ letter.0 }}</div>
                {% elif letter.1 == 'x' %}
                <div class="label-box-yellow" >{{ letter.0 }}</div>
                {% elif letter.1 == '_' %}
                <div class="label-box" >{{ letter.0 }}</div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

{% if Result == "Null" %}
<form method="post">
    <div id="parent">
      <div id="input-field">
        <input type="text" required="required" name="Guess" placeholder="Answer">
        
      </div>
      <button name="Try" class="Check">check</button>
    </div>
    
</form>
{% elif Result == "Success"%}
<form method="post">
    <button name="Submit" class="submit">Submit</button>
</form>
{% elif Result == "Failed" %}
<form method="post">
  <button name="Retry" class="submit">Retry</button>
</form>
{% endif %}
</div>
{% endblock %}
