{% extends "Base.html" %}

{% block title %}RenaissanceEra{% endblock %}
{% block Head %}

<link rel="stylesheet" href="{{ url_for('static', filename='images/Puz3.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;300;500;600&family=Montserrat:wght@300;400;600&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

{% endblock %}
{% block content %}
<div class="block">
<h3><u>The Renaissance Era : MAGIC SQUARE</u></h3>

<h5>Generate a Magic Square, where the sum is {{Num[1]}}<br>Given Numbers: 
{% for i in Num[0] %}
{{i}} {% endfor %}</h5>
{% if Result == "Null"%}
<form method="post">
<table>
    <tr>
        <td><input type="text" name="textbox_00"></td>
        <td><input type="text" name="textbox_01" id="texbox_01"></td>
        <td><input type="text" name="textbox_02" id="texbox_02"></td>
    </tr>
    <tr>
        <td><input type="text" name="textbox_10" id="texbox_10"></td>
        <td><input type="text" name="textbox_11" id="texbox_11"></td>
        <td><input type="text" name="textbox_12" id="texbox_12"></td>
    </tr>
    <tr>
        <td><input type="text" name="textbox_20" id="texbox_20"></td>
        <td><input type="text" name="textbox_21" id="texbox_21"></td>
        <td><input type="text" name="textbox_22" id="texbox_22"></td>
    </tr>
</table>

<button name="Try" class="check">Check</button>
</form>
{% elif Result == "Success" %}
<form method="post">
    <button name="Submit">Submit</button>
</form>
{% endif %}
</div>
{% endblock %}