{% extends "Base.html" %}

{% block title %}ModernEra{% endblock %}

{% block Head %}
<link rel="stylesheet" href="{{ url_for('static', filename='images/Puz4.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;300;500;600&family=Montserrat:wght@300;400;600&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="block">
<h2><b><u>The Modern Era : JUMBLED WORD</u></b></h2>
<br>
<h4><b>Jumbled Word: {{Word}}</b></h4>
<br>
<h5><b>{{Hint}}</b></h5>
{% if Result == "Null" %}
<form method="post">
    <div class="text-div">
    <input type="text" name="Guess" class="text-box" placeholder="Answer">
    </div>
    <div class="button-div">
     <button name="Try" class="Check">Check</button>
    </div>
    
</form>
{% elif Result == "Success" %}
<form method="post">
    <div class="submit-button">
        <button name="Submit" class="submit">Submit</button>
    </div>
</form>
{% endif %}
</div>
{% endblock %}