{% extends "Base.html" %}

{% block title %}ModernEra{% endblock %}

{% block Head %}
<link rel="stylesheet" href="{{ url_for('static', filename='images/Puz4.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;300;500;600&family=Montserrat:wght@300;400;600&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="block">
<button id="openScalingDiv3">How To Play?</button>
<h2><b><u>The Modern Era : JUMBLED WORD</u></b></h2>
<br>
<h4><b>Jumbled Word: {{Word}}</b></h4>
<br>
<h5><b>{{Hint}}</b></h5>
{% if Result == "Null" %}
<form method="post">
    <div class="text-div">
    <input type="text" name="Guess" class="text-box" placeholder="Answer">
    </div>
    <div class="button-div">
     <button name="Try" class="Check">Check</button>
    </div>
    
</form>
{% elif Result == "Success" %}
<form method="post">
  <div class="Popup">
    <div class="Message">
      <div class="msg">Congratulation!<br>You Move Forward</div>
    <div class="submit-button">
        <button name="Submit" class="submit">Submit</button>
    </div>
    </div>
  </div>
</form>
{% elif Result == "Failed" %}
<form method="post">
  <div class="Popup">
    <div class="Message">
      <div class="msg">You Have Lost A Life!!<br>Be Careful</div>
  <div><button name="Retry" class="submit">Retry</button>
    </div>
  </div>
  </div>
</form>
{% endif %}
</div>

</div>

<div class="scaling-div" id="scalingDiv3">
  <button class="close-button" id="closeScalingDiv3">Close</button>
  <p>
    "Exasperated by the relentless pit's whims, our resolute traveler is hurled into the Modern<br>
    Era. Amidst the bustling cityscape and technology, a new challenge awaits - the Modern Era<br>
    Anagram Puzzle."<br><br>
    
    <u>Rules of the Modern Era Anagram Puzzle:</u><br><br>
    1. Now in the heart of the Modern Era, you confront the Anagram Puzzle.<br>
    2. You will be given a set of letters, jumbled and disordered.<br>
    3. Your mission is to unscramble these letters and form a meaningful word.<br>
    4. A hint or clue will be provided to guide your deciphering.<br>
    5. You have 5 attempts to successfully solve the anagram and unveil the word.<br>
    6. Can you embrace modern thinking and decode the Anagram Puzzle within 5 attempts to<br>
    continue your extraordinary journey?</p>
</div>

<script>
  // JavaScript to handle the opening and closing of the scaling div
  const openScalingDivButton = document.getElementById("openScalingDiv3");
  const closeScalingDivButton = document.getElementById("closeScalingDiv3");
  const scalingDiv = document.getElementById("scalingDiv3");

  openScalingDivButton.addEventListener("click", function () {
    scalingDiv.style.display = "flex"; // Show the scaling div
  });

  closeScalingDivButton.addEventListener("click", function () {
    scalingDiv.style.display = "none"; // Hide the scaling div
  });
</script>
{% endblock %}