{% extends "Base.html" %}

{% block Head %}

<link rel="stylesheet" href="{{ url_for('static', filename='images/Victory.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

{% endblock %}
{% block content %}
<p>
Congratulations on helping the malnourished stick guy<br>
You have been ranked #{{Rank}}<br>
<br>
Username : {{Winner.Username}}<br>
Time Taken : {{Winner.Time_Taken}}
<br>
</p>
{% if TopWinners %}
<h1 style="color: white;">LEADERBOARD</h1><br>
<div class="table">
<table class="content-table">
    <thead>
        <tr>
            <th scope="col"><b>Rank</b></th>
            <th scope="col"><b>Username</b></th>
            <th scope="col"><b>Time</b></th>
        </tr>
    </thead>
    <tbody>
        {% for User in TopWinners %}
        <tr>
            <td>{{ loop.index0 + 1 }}</td>
            <td>{{ User.Username }}</td>
            <td>{{ User.Time_Taken }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table></div>

{% endif %}
{% endblock %}
