* {
  margin: 0px;
  padding:0px;
  font-family: Montserrat;
  color: whitesmoke;
}

.block{
  width: 35vw;
  height: 40vh;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  transform: translate(-50%,-50%);
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color:#1b1b1b;
  opacity: 0.95;
}



.question{
  color: aliceblue;
}
.submit-button{
  border-radius: 5px;
  background-color: #4242f5; /*rgb(31, 31, 253)*/
  color: aliceblue;
  padding: 1%;
  font-size: small;
  border:none;
  transition: opacity 0.15s, background-color 0.15s, color 0.15s;
  
}
.submit-button:hover{
  opacity:0.8;
}
.submit-button:active{
 color:grey;
 background-color: white;
}

body{
  background-image: url('Clock.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


#parent{
  width:80%;
  height: 10%;
  padding: 3%;
  margin-bottom: 10%;
  margin-top: 5%;
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0,0.1);*/
}
#parent #input-field{
 height: 100%;
 width: 100%;
 position: relative;
}
#parent  #input-field input{
  height: 100%;
  width: 100%;
  padding: 3% 0;
  font-size:1em;
  border: none;
  border-bottom: 2px solid grey;
  opacity: 1;
  background-color: #1b1b1b;
  caret-color: whitesmoke;
}
#input-field input:focus {
  outline: none;
}

#input-field input:focus ~ label,
#input-field input:valid ~ label{
  transform: translateY(-90%);
}

#input-field label{
  position: absolute;
  bottom:5%;
  left:0;
  color: grey;
  pointer-events: none;
  font-size: 80%;
  transition: all 0.3s ease;
}








@media (min-width: 768px){
  body{
    background-position: center top;
  }
}

@media (max-width: 767px){
  body{
    background-position: center center;
  }
  
}

#message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above other content */
}

/* Style for the message content */
#message p {
  color: white;
  font-size: 1.5em;
  text-align: center;
}

/* Media query to show the message in portrait mode */
@media (orientation: portrait) {
  #message {
      display: flex;
  }
}

.hidden {
  display: none;
}
